.btn-primary {
  border: #b2dfdb;
  background: #00695c;
  color: #b2dfdb;
  height: 50px;
  width: 100px;
  font-size: 18px;
  margin: 0 10px;
  transition: background 0.3s;
}

.btn-primary:hover {
  transition: background 0.3s;
  background: #004d40;
}
